body {
    background-color: lightgray;
    font-family: Agency FB, sans-serif;
}

.title {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.button {
    padding: 10px;
    background: #ffffff;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 5px;
}

.class_category {
    margin-bottom: 20px;
    text-align: center;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.card {
    background: white;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    width: 250px;
    height: 250px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card img {
    width: 125px;
    height: auto;
    object-fit: contain;
    border-radius: 8px;
    border: 2px solid;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

/* =========================================
   สไตล์สำหรับหน้า Servant Detail
========================================= */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.content-wrapper {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.stat-box {
    width: 100%;
    background: #ffffff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    color: #333;
    box-sizing: border-box;
}

.detail-img {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.detail-img img {
    width: 250px;
    height: auto;
    border: 5px solid;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}