<!DOCTYPE html>
<html lang="en">

<head>
    <title>FGO Servants</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <h1>FGO Servants</h1>
    <div style="margin-bottom: 20px;">
        <a href="/"
            style="padding: 10px; background: #ffffff; color: rgb(0, 0, 0); text-decoration: none; border-radius: 5px;">
            <b>All Servants</b></a>

        <a href="/class/saber"
            style="padding: 10px; background: #ffffff; color: rgb(0, 0, 0); text-decoration: none; border-radius: 5px;">
            <b>Saber Class</b></a>
        <a href="/class/archer"
            style="padding: 10px; background: #ffffff; color: rgb(0, 0, 0); text-decoration: none; border-radius: 5px;">
            <b>Archer Class</b></a>
        <a href="/class/lancer"
            style="padding: 10px; background: #ffffff; color: rgb(0, 0, 0); text-decoration: none; border-radius: 5px;">
            <b>Lancer Class</b></a>
    </div>
    <div class="grid">
        {% for servant in servants %}
        <div class="card">
            <img src="{{ servant.face_url }}" alt="{{ servant.name }}">
            <p style="font-size: 18px; 
                font-weight: bold; 
                margin: 10px 0 5px;
                ">ID:{{ servant.servant_id }} | {{ servant.name }}
            </p>
            <p style="font-size: 16px; 
                color: gray; margin: 0;
                ">{{ servant.class_name.capitalize() }}
            </p>
        </div>
        {% endfor %}
    </div>
</body>

</html>